.banner {
  background-position: right top;
  background-repeat: no-repeat;
  object-fit: contain;
  height: 902px;
  background-color: transparent;

}
.banner-title {
  margin: 10px;
  padding-left: 12%;
  padding-top: 10%;
}

.tittle {
  font-weight: bold;
  font-size: 60px;
  padding: 10px;
  font-family: initial;
}
.subtitle {
  font-family: system-ui;
  padding: 10px;
  font-size: 20px;
  font-weight: 200;
}

.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

.banner-aboutus {
  object-fit: contain;
    height: 365px;
    background-size: cover;
    background-position: center 631px;
}

.about-title {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  font-size: 60px;
  color: white;
  padding-top: 58px;
  display: flex;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(207, 207, 207);
}

.banner-aboutus1 {
  object-fit: contain;
    height: 365px;
    background-size: cover;
    background-position: center 631px;
    border-radius: 12px;
    margin-top: 130px;
    padding: 30px;
}

.about-title1 {
  font-family:'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: white;
  padding-top: 58px;
  display: flex;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(207, 207, 207);
}
